body {
}
#divUserDetail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    margin: auto;
    text-align: center;
}
#divimg img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

#divimg img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


